# Python
*.py[cod]
__pycache__/
*.so

# Virtual Environment
venv/
ENV/
env/
.venv/

# Linux
*~
*.swp
.DS_Store

# Docker
*.log
docker-compose.override.yml
.dockerignore

# Machine Learning
*.h5
*.hdf5
*.pkl
*.joblib